@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    background-color: rgb(229, 77, 77);
}

header a {
    color: white;
}

header a:hover {
    color: lightblue;
}

main {
    padding: 16px;
    margin-bottom: 10rem;
}

main h1 {
    font-family: "Dancing Script", cursive;
    font-style: normal;
    font-size: 4.5rem;
}

main h2 {
    margin-bottom: 2rem;
}

footer {
    width: 100vw;
    padding: 24px 0;
    position: fixed;
    bottom: 0;
    padding-left: 1rem;
    background-color: rgb(109, 205, 109);
}

footer div {
    font-size: 1rem;
    font-weight: 400;
}

footer div a {
    color: white;
}

.title h2 {
    font-weight: 500;
}

img {
    height: 200px;
    width: 220px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    margin-bottom: 10px;
}

nav {
    padding: 16px;
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
    color: rgb(66, 66, 185);
    font-weight: 500;
}

a:hover {
    color: green;
    transition: .4s;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
}

.rotate {
    transition: width .5s, height .5s, transform .5s;
}

.rotate:hover {
    width: 230px;
    height: 230px;
    transform: rotate(10deg);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}


/* Media Breakpoints */

@media (width < 1000px) {
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        column-gap: 0;
    }

    .grid-item h3 {
        text-align: center;
    }

    .last-item {
        grid-column: 1 / 3;
    }

    footer {
        position: relative;
    }

}


@media (width < 600px) {
    .title h1 {
        font-size: 3.3rem;
    }

    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }

    .g1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .g2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .g3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .g4 {
        grid-area: 4 / 1 / 5 / 2;
    }
}